<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFederazione-Homepage
	</title>
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="/css/giocatori.css" />
</head>

<body>
	<nav></nav>
	<!--HEADER-->
	<header>
		<div class="header-container">
			
			<span id="titolo">SIW FEDERAZIONE</span>
					
			<span>
				<a href="/" class="header-item">
								<img src="/images/index/ball.png" alt="ball" class="image">
								<span>HOMEPAGE</span>
				</a>
			</span>	
			<span>
				<a href="/squadre" class="header-item">
								<img src="/images/index/team.png" alt="team" class="image">
								<span>SQUADRE</span>
				</a>
			</span>
			<span>
				<a href="/giocatori" class="header-item">
								<img src="/images/index/giocatore.png" alt="players" class="image">
								<span>GIOCATORI</span>
				</a>
			</span>
			<span>
				<a th:href="${authentication != null ? '/user' : '/login'}" class="header-item">
								<img src="/images/index/account.png" alt="account" class="image">
								<span class="user-link">
							        <span>ACCOUNT</span>
							        <span th:if="${authentication != null}">
							        	<p id="user"><span th:text="${authentication.principal.username}">No Username</span></p>
							        </span>
								</span>
				</a>
			</span>
		</div>
	</header>
	<section>
		<h1>Giocatori della federazione</h1>
		<table>
	        <thead>
	            <tr>
	                <th>Nome</th>
	                <th>Cognome</th>
					<th>Luogo di nascita</th>
					<th>Data nascita</th>
					<th>Ruolo</th>
					<th>Squadra</th>
					<th>Storico tesseramenti</th>
	            </tr>
	        </thead>
	        <tbody>
				<tr th:if="${players.empty}">
	                <td colspan="5">Nessun giocatore registrato nella federazione</td>
	            </tr>
	            <tr th:each="giocatore : ${players}">
	                <td th:text="${giocatore.nome}">Nome</td>
	                <td th:text="${giocatore.cognome}">Cognome</td>
	                <td th:text="${giocatore.luogoNascita}">Luogo nascita</td>
					<td th:text="${giocatore.dataNascita}">Data nascita</td>
					<td th:text="${giocatore.ruolo}">Ruolo</td>
					<td th:text="${giocatore.tesseramentoCorrente?.squadra?.nome ?: 'Svincolato'}">Squadra</td>
					<td>
		                <a th:href="@{/giocatore/{id}/storico-tesseramenti(id=${giocatore.id})}">Visualizza Tesseramenti</a>
		            </td>
	            </tr>
	        </tbody>
	    </table>
	</section>
	<footer>
		<div class="footer-container">
		</div>
	</footer>
</body>

</html>