<!DOCTYPE html>
<html>

<head>
	<title>
		Login
	</title>
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<nav></nav>
	<!--HEADER-->
	<header>
		<div class="header-container">
			
			<span id="titolo">SIW FEDERAZIONE</span>
					
			<span>
				<a href="/" class="header-item">
								<img src="images/index/ball.png" alt="ball" class="image">
								<span>HOMEPAGE</span>
				</a>
			</span>	
			<span>
				<a href="/squadre" class="header-item">
								<img src="images/index/team.png" alt="team" class="image">
								<span>SQUADRE</span>
				</a>
			</span>
			<span>
				<a href="/giocatori" class="header-item">
								<img src="/images/index/giocatore.png" alt="players" class="image">
								<span>GIOCATORI</span>
				</a>
			</span>
			<span>
				<a href="/login" class="header-item">
								<img src="images/index/account.png" alt="account" class="image">
								<span>ACCOUNT</span>
				</a>
			</span>
		</div>
	</header>
	<section>
		<div class="container">
            <!-- Login Form -->
            <div class="form-container">
                <h2>Login</h2>
                <form th:action="@{/login}" method="POST">
                    <div class="form-group">
                        <input type="text" id="login-username" name="username" placeholder="Username..." required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="login-password" name="password" placeholder="Password..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit">Accedi</button>
                    </div>
                    <div th:if="${param.error}">
                        <span th:text="#{invalid.credentials}" class="error-message"></span>
                    </div>
                </form>
            </div>

            <!-- Registration Form -->
            <div class="form-container">
                <h2>Registrazione</h2>
                <form th:action="@{/registrazione}" th:object="${credentials}" method="POST">
                    <div class="form-group"> 
                        <input type="text" id="register-name" name="nome" placeholder="Nome..." required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="register-surname" name="cognome" placeholder="Cognome.." required>
                    </div>
					<div class="form-group">
			            <input type="text" id="register-codiceFiscale" name="codiceFiscale" placeholder="Codice Fiscale..." required>
			        </div>
			        <div class="form-group">
			            <input type="date" id="register-dataNascita" name="dataNascita" placeholder="Data di Nascita..." required>
			        </div>
			        <div class="form-group">
			            <input type="text" id="register-luogoNascita" name="luogoNascita" placeholder="Luogo di Nascita..." required>
			        </div>
                    <div class="form-group">
                        <input type="text" id="register-email" name="email" placeholder="Email..." required>
                    </div>
					<div class="form-group">
                        <input type="text" id="register-name" name="username" placeholder="Username..." required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="register-password" name="password" placeholder="Password..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit">Registrati</button>
                    </div>
					<div th:if="${successMessage}" class="registration-complete">
						<p th:text="${successMessage}" class="successMessage"></p>
					</div>
					<div th:if="${#fields.hasErrors('email')}" class="error-container">
						<span th:errors="*{email}" class="error-message"></span>
					</div>
					<div th:if="${#fields.hasErrors('username')}" class="error-container">
						<span th:errors="*{username}" class="error-message"></span>
					</div>
                </form>
            </div>
        </div>
	</section>
	<footer>
		<div class="footer-container">
		</div>
	</footer>
</body>

</html>