<!DOCTYPE html>
<html>

<head>
	<title>
		Squadre
	</title>
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="/css/squadre.css" />
</head>

<body>
	<nav></nav>
	<!--HEADER-->
	<header>
		<div class="header-container">
			
			<span id="titolo">SIW FEDERAZIONE</span>
					
			<span>
				<a href="/" class="header-item">
								<img src="images/index/ball.png" alt="ball" class="image">
								<span>HOMEPAGE</span>
				</a>
			</span>	
			<span>
				<a href="/squadre" class="header-item">
								<img src="images/index/team.png" alt="team" class="image">
								<span>SQUADRE</span>
				</a>
			</span>
			<span>
				<a href="/giocatori" class="header-item">
								<img src="/images/index/giocatore.png" alt="players" class="image">
								<span>GIOCATORI</span>
				</a>
			</span>
			<span>
				<a th:href="${authentication != null ? '/user' : '/login'}" class="header-item">
								<img src="images/index/account.png" alt="account" class="image">
								<span class="user-link">
							        <span>ACCOUNT</span>
							        <span th:if="${authentication != null}">
							        	<p id="user"><span th:text="${authentication.principal.username}">No Username</span></p>
							        </span>
								</span>
				</a>
			</span>
		</div>
	</header>
	<section>
		<div th:if="${squadre.isEmpty()}">Non ci sono squadre inserite</div>
		
		<div id="title">Lista Squadre</div>
		<table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Fondazione</th>
                    <th>Sede</th>
					<th>Presidente</th>
					<th>Giocatori</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="squadra : ${squadre}">
                    <td th:text="${squadra.nome}">Nome Squadra</td>
                    <td th:text="${squadra.fondazione}">Anno di fondazione</td>
                    <td th:text="${squadra.indirizzoSede}">Indirizzo sede</td>
					<td th:text="${squadra.presidente.nome + ' ' + squadra.presidente.cognome}">Presidente</td>
					<td>
		                <a th:href="@{/squadra/{id}/giocatori(id=${squadra.id})}">Visualizza Giocatori</a>
		            </td>
                </tr>
            </tbody>
        </table>
		
		<div class="link-gestione-container">
			<div class="click-container">
				<span><img src="images/squadre/clickHere1.png"></span>
				<form th:action="@{/admin/gestioneSquadre}" method="POST">
					<div><button type="submit">Gestisci squadre</button></div>
				</form>
			</div>
			
			<div class="click-container">
				<span><img src="images/squadre/clickHere2.png"></span>
				<form th:action="@{/president/gestioneGiocatori}" method="POST">
					<div><button type="submit">Gestisci giocatori</button></div>
				</form>
			</div>
		</div>
		
		
	</section>
	<footer>
		<div class="footer-container">
			<div>p</div>
		</div>
	</footer>
</body>

</html>