.main-container{
	display:flex;
	align-items: center;
}
.profile-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 8px solid blue;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 35px;
	background-image: url('/images/user/userPattern.png');
 	background-repeat: repeat; /* Ripete il pattern */
  	background-size: cover; /* Copre l'intera area */
}

.details-user-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(255, 255, 255, 0.9);
	padding: 10px;
}

.details-item{
	color: rgb(0, 0, 0);
	font-size: 23px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title{
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.logout-link{
	font-size: 25px;
}

.logout-link span{
	background-color: blue;
	padding: 10px;
	border-radius: 7px;
	color: white;
}

#campo, #palla{
	width: 500px;
}